<h1>Listing questions</h1>

<table id="questions-table">
  <tr>
    <th>Qc</th>
    <th>Literal</th>
    <th>Topic</th>
    <th>Max x</th>
    <th>Max y</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Question</a>