<h1>Listing instruments</h1>

<table id="instruments-table">
  <tr>
    <th>Prefix</th>
    <th>Port</th>
    <th>Study</th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Instrument</a>
