/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require_self
 *= require genericons
 *= require jquery-ui
 */

html {
  position: relative;
}

html, body {
  min-height: 100%;
}

body {
  margin: 0;
}

table {
  padding: 10px 0;
}

th {
  color: white;
  background-color: #652C90;
  font-size: 14px;
}

td {
  font-size: 12px;
}

.nowrap {
  white-space: nowrap;
}

.hide {
  display: none;
}

a.dynatable-active-page {
  background-color: #652C90;
}

div#wrapper {
  min-width: 800px;
  margin-right: 50px;
  margin-left: 50px;
}

div#container {
  position: relative;
  min-height: 240px;
}

div#content {
  padding-bottom: 30px;
  overflow: hidden;
}

div#content > h1:first-of-type {
  background-color: #3E3E49;
  padding: 10px;
  color: white;
}

div#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 24px;
  background-color: #3E3E49;
}

div#footer a {
  color: #00ADEF;
  padding-left: 10px;
  line-height: 24px;
  vertical-align: middle;
}

div#footer a:hover {
  color: #FBAF3F;
  background-color: #3E3E49;
}

a.add-new,
a.back,
a.show,
a.edit,
a.destroy {
  font-size: 0;
}

a.add-new:before,
a.back:before,
a.show:before,
a.edit:before,
a.destroy:before,
a.remove:before {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal 24px/1 Genericons;
  vertical-align: bottom;
  text-align: center;
}

a.add-new:before {
  content: '\f510';
}

a.back:before {
  content: '\f430';
}

a.edit:before {
  content: '\f411';
}

a.show:before {
  content: '\f403';
}

a.destroy:before {
  content: '\f407';
}

a.remove:before {
  content: '\f405';
}
