// Place all the styles related to the Instruments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.remove-variable,
a.remove-question {
  color:red !important;
}

select#original-topic-selector {
  display: none;
}

select.topic-selector {
  width: 100%;
}

select.topic-selector option.level-1 {
  font-weight: bold;
}