// Place all the styles related to the Instruments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.remove-variable,
a.remove-question {
  color:red !important;
}

select#original-topic-selector {
  display: none;
}

select.topic-selector {
  width: 100%;
}

select.topic-selector option.level-1 {
  font-weight: bold;
}

table table {
  max-width:1000px;
  padding: 0;
}

table table .row-0,
table table .col-0 {
  background-color: lightblue !important;
}

table table input {
    width: 100px;
}

table.display td { white-space: nowrap; }

.conflict-resolution dt {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}

.conflict-resolution .label {
  font-style: italic;
}