div#navi {
  background-color: #3E3E49;
}

div#navi ul {
  margin-left: 50px;
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-padding-start: 0px;
  padding-left: 0;
  overflow: hidden;
}

div#navi ul li {
  float: left;
}

div#navi ul li a {
  color: #959595;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid #3E3E49;
  line-height: 38px;
  font-size: 16px;
  text-decoration: none;
  width: 100px;
  display: block;
  text-align: center;
}

div#navi ul li a:hover {
  border-bottom: 2px solid #EC008B;
  color: white;
  background-color: black;
}

div#navi ul li.selected a {
  border-bottom: 2px solid #38B449;
  background-color: #303039;
  color: white;
}
