<div id="instruments-view"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Mapper.Routers.InstrumentsRouter({instruments: <%= @instruments.to_json.html_safe -%>});
    if (!Backbone.History.started) {
      Backbone.history.start();
    }
  });
</script>
