<% content_for :content do %>
  <div id="container" class="show">
    <div id="content">
    <%= content_for?(:show_content) ? yield(:show_content) : yield %>
    </div>
    <div id="footer">
    <%= if content_for?(:footer) then yield(:footer) end %>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
